<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body>
		<div id="app">
			<p><input type="text" name="" id="" value=""  v-model='message'/></p>
			<p><button type="button" v-on:click="greet">Greet</button></p>
			<p><button type="button" v-on:click="say('Hi')">Hi!</button></p>
		</div>
		
		<div id="vmApp" class="app_box">
			<fieldset>
				<legend>
                    Create New Person
                </legend>
				<div class="form-group">
					<label>name:</label>
					<input type="text" v-model="newPerson.name" />
				</div>
				<div class="form-group">
					<label>age:</label>
					<input type="text" v-model="newPerson.age" />
				</div>
				<div class="form-group">
                    <label>Sex:</label>
                    <select v-model="newPerson.sex">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
                </div>
				<div class="form-group">
                    <label></label>
                    <button @click="createPerson">Create</button>
                </div>
			</fieldset>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Sex</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(person,index) in people">
						<td>{{ person.name }}</td>
						<td>{{ person.age }}</td>
						<td>{{ person.sex }}</td>
						<td :class="'text-center'"><button @click="deletePerson(index)">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
		<script type="text/javascript">
			new Vue({
				el:"#app",
				data:{
					message:"hello world!"
				},
				methods:{
					greet:function(e){
						alert(this.message)
					},
					say:function(e){
						alert(e)
					}
				}
			});
			var vm = new Vue({
				el:'#vmApp',
				data:{
					newPerson: {
						name: 'Tom',
						age: 0,
						sex: 'Male'
					},
					people: [{
						name: 'Jack',
						age: 30,
						sex: 'Male'
					}, {
						name: 'Bill',
						age: 26,
						sex: 'Male'
					}, {
						name: 'Tracy',
						age: 22,
						sex: 'Female'
					}, {
						name: 'Chris',
						age: 36,
						sex: 'Male'
					}]
				},
				methods:{
					createPerson: function(){
						this.people.push(this.newPerson);
						// 添加完newPerson对象后，重置newPerson对象
						this.newPerson = {name: 'Tom', age: 0, sex: 'Male'}
					},
					deletePerson: function(index){
						// 删一个数组元素
						console.log(index)
						this.people.splice(index,1);
					}
				}
			});
		</script>
	</body>
</html>